<div>
    <div class="wrapper">
        <div class="row">
            <h3><u>FREE SIGN UP</u></h3>
        </div>
        <div class="row">
            <div class="col-6">
                <div>
                    <h6><span>500GB</span> Cold Storage and <span>500GB</span> Vault Storage <br> <span>2</span> users and <span>unlimited</span> external drives yearly
                    </h6>
                </div>
                <div class="row row-cols-2">
                    <div class="col">
                        <div class="card">
                            <img src="assets/icons/aws_check_icon.png" alt="Avatar" style="width:20%">
                            <div class="container">
                                <h6><b>AWS Advanced Technalary Partner</b></h6>
                                <p>Zoolz leverages the robust and reliable Amazon cloud trusted by millions</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/icons/backup_tech_icon.png" alt="Avatar" style="width:20%">
                            <div class="container">
                                <h6><b>Tribd Backup Technology</b></h6>
                                <p>Save an extra copy of your backup localy for faster recovery</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/icons/secure_icon.png" alt="Avatar" style="width:20%">
                            <div class="container">
                                <h6><b>Secure Data Forever</b></h6>
                                <p>Secure,automatic backup for all your data</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/icons/everything_icon.png" alt="Avatar" style="width:20%">
                            <div class="container">
                                <h6><b>Zoolz for Everything</b></h6>
                                <p>Back up Computers, Laptops servers and any external or network storage devices</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <h6><span>SIGN UP NOW AND GET STARTED</span> <br> Please enter your account information</h6>
                </div>
                <div>
                    <form>
                        <div class="mb-3 input-group custom-input-group">
                          <span class="input-group-text">
                            <img src="assets/icons/name_icon.png" alt="Icon" style="height: 1rem;">
                          </span>
                          <input type="text" class="form-control custom-input" id="exampleInputEmail1" placeholder="Full Name">
                        </div>
                        <div class="mb-3 input-group custom-input-group">
                          <span class="input-group-text">
                            <img src="assets/icons/email_icon.png" alt="Icon" style="height: 1rem;">
                          </span>
                          <input type="email" class="form-control custom-input" id="exampleInputEmail1" placeholder="Email Address">
                        </div>
                        <div class="mb-3 input-group custom-input-group">
                          <span class="input-group-text">
                            <img src="assets/icons/password_icon.png" alt="Icon" style="height: 1rem;">
                          </span>
                          <input type="password" class="form-control custom-input" placeholder="Password">
                        </div>
                        <div class="mb-3 input-group custom-input-group">
                          <span class="input-group-text">
                            <img src="assets/icons/password_icon.png" alt="Icon" style="height: 1rem;">
                          </span>
                          <input type="password" class="form-control custom-input" placeholder="Confirm Password">
                        </div>
                        <button type="button" class="btn btn-Violet">Activate Now</button>
                      </form>
                      
                      
                </div>
            </div>
        </div>

    </div>
</div>