/* welcome.component.css */
.logout-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .logout-button {
    background-color: #8A2BE2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    background-color: #6A1E9B;
  }
  
  .welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .smile-face {
    font-size: 3rem; /* Adjust size as needed */
    margin-top: 10px;
  }
  